@mixin default {
  background: rgba(lightblue, 0.3);
  border: 1px dashed black;
  padding: 5px;
  margin: 2px;
}

@mixin focus {
  &:focus {
    background: rgba(navy, 0.1);
    outline: none;
  }
}
