.operate-expandable {
  max-width: 500px;
  font-size: 13px;

  .header,
  .content {
    display: flex;
    align-items: center;

    height: 27px;
    padding: 0 7px;

    position: relative;
  }

  .icon {
    padding-right: 7px;
    margin-right: 7px;
    border-right: 1px solid #ccc;
  }

  .header {
    margin-left: 32px;
    border: 1px solid #ccc;
    font-weight: bold;
  }

  .toggle {
    display: flex;
    padding: 2px;
    border-radius: 50%;
    position: absolute;
    right: calc(100% + 6px);
    transition: transform 0.2s linear, box-shadow 0.05s ease-out;

    &.is-open {
      transform: rotate(90deg);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px #2b7bff, 0 0 0 4px #8cb7ff;
    }
  }

  .content {
    margin-left: 64px;
    border: 1px solid #ccc;
    border-top: none;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background: #ccc;
      left: -48px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      background: #ccc;
      left: -51px;
      border-radius: 50%;
    }

    > .operate-expandable {
      position: absolute;
      top: 100%;
      left: -33px;
      right: -1px;

      .header {
        &::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 50%;
          background: #ccc;
          left: -48px;
          top: -1px;
        }

        &::before {
          content: "";
          position: absolute;
          width: 7px;
          height: 7px;
          background: #ccc;
          left: -51px;
          border-radius: 50%;
        }
      }
    }
  }
}
