/* doesnt work for Edge and EE */

* {
  box-sizing: border-box;
}

svg {
  vertical-align: middle;
  box-sizing: content-box;
}

button {
  all: unset;
}

button::-moz-focus-inner {
  border: 0;
}

[hidden] {
  display: none !important;
}

.App {
  background-color: #fff;
  min-height: 100vh;
  padding: 2rem;

  .example {
    height: 150px;

    h2 {
      border-bottom: 1px solid red;
      // width: 50%;
    }
  }
}

.App-link {
  color: #61dafb;
}
