/* doesnt work for Edge and EE */

button {
  all: unset;
}

button::-moz-focus-inner {
  border: 0;
}

[hidden] {
  display: none !important;
}

.App {
  background-color: #f1f1f1;
  min-height: 100vh;
  padding: 2rem;
}

.App-link {
  color: #61dafb;
}
